* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Noto Sans", "Open Sans", "Ephesis", cursive, sans-serif;
    background-color: whitesmoke;
    color: #333333;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: .5em 0 .75em;
}

header {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
    z-index: 1;
}

header.active {
    box-shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;
    transition-duration: 400ms;
}

.logo h1 {
    font-family: "Ephesis", cursive;
    margin-bottom: -12px;
    font-size: 2.5em;
}

.logo p {
    display: flex;
    justify-content: end;
    font-family: "Noto Sans", sans-serif;
}

h1 a,
h1 a:active,
li a,
li a:active,
a.gallery-view,
a.gallery-view:active {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    padding-left: 1em;
}

h1 a:hover,
li a:hover,
a.gallery-view:hover {
    color: deeppink;
}

img.hero {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h1.recent-makeup {
    padding: .5em 0 .65em;
}

img {
    max-width: 100%;
    display: block;
}
  
figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

figure img {
    border-radius: 8px;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.masonry {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
}

/* grid-template-rows: masonry; */

section {
    display: grid;
    place-items: start;
    align-content: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

a.gallery-view {
    padding-top: .75em;
}

.gallery-view {
    display: flex;
    justify-content: end;
    width: 100%;
    color: #7c7c7c;
}

.gallery-view img {
    padding-top: 3px;
    padding-right: .25em;
    transform: scaleX(-1);
}

article.about-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.about-contact {
    font-family: "Ephesis", cursive;
    font-size: 7.5em;
}

img.about-contact {
    border: 6px solid #333333;
    border-radius: 50%;
    width: 40%;
}

div.about-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.gradient-background {
    /* background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,20,147,1) 50%, rgba(245,245,245,1) 100%); */

    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 5%, rgba(211,129,38,1) 40%, rgba(211,129,38,0) 80%);
}

footer {
    text-align: center;
    padding: 3em 0;
    background-color: #333333;
    color: whitesmoke;
    width: 100%;
}

a svg:hover {
    fill: deeppink;
}

.gallery {
    width: 70%;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    padding-bottom: 1em;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    header .container {
        padding: .5em .75em;
    }

    .logo h1 {
        font-size: 1.75em;
        margin-bottom: -2px;
    }

    .logo p {
        font-size: .8em;
    }

    nav {
        display: none;
    }

    .section-container {
        width: 90%;
        margin: 0 auto;
    }

    h1.about-contact {
        font-size: 3.5em;
    }

    a svg {
        width: 50px;
        height: 50px;
    }

    div.about-contact {
        width: 40%;
    }

    footer {
        padding: 1.5em;
    }

    .gallery {
        width: 100%;
        margin: 0 auto;
    }
}